@font-face {
    font-family: "font-rg";
    src: url("../font/OpenSauceOne-Regular.ttf");
}

@font-face {
    font-family: "font-bold";
    src: url("../font/OpenSauceOne-SemiBold.ttf");
}

@font-face {
    font-family: "font-bbold";
    src: url("../font/OpenSauceOne-ExtraBold.ttf");
}

@font-face {
    font-family: "font-thin";
    src: url("../font/OpenSauceOne-Light.ttf");
}

/* @media screen and (max-width: 425px) {
    .bold-popup {

    }
} */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

section.final {
    height: 110vh;
}

.cards-section {
    margin-top: -5%;
}

@media screen and (max-width: 425px) {
    .section {
        height: 90vh;
    }
}

@media screen and (max-width: 425px) {
    .steps-section {
        height: 300%;
    }
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper.one {
    margin-top: -10%;
}

@media screen and (max-width: 425px) {
    .content-wrapper {
        height: 100%;
        width: 100%;
    }
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
    .content {
        width: 100%;
        height: 100%;
    }
}

.left-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .left-wrapper {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.left-content {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .left-content {
        width: 90%;
        height: 80%;
        margin-top: 40%;
    }
}

.title-text-wrapper {
    width: 100%;
}

.title-thin {
    font-family: 'font-thin';
    font-size: 5vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

@media screen and (max-width: 425px) {
    .title-thin {
        font-family: 'font-thin';
        font-size: 13vw;
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.title-bold {
    font-family: 'font-bold';
    font-size: 5vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

@media screen and (max-width: 425px) {
    .title-bold {
        font-family: 'font-bold';
        font-size: 13vw;
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.right-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .right-wrapper {
        width: 100%;
        height: 60%;
    }
}

.right-content {
    width: 90%;
    aspect-ratio: 10/9;
    background-image: url('../img.jpg');
    background-size: 130%;
    background-position: 60% 70%;
}

@media screen and (max-width: 425px) {
    .right-content {
        width: 100%;
        aspect-ratio: 1/1;
        background-image: url('../img.jpg');
        background-size: 140%;
        background-position: 60% 70%;
    }
}

.step-card-page {
    width: 33%;
    height: 100%;
}

.step-card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 425px) {
    .step-card-page {
        display: block;
        width: 100%;
        height: 70vh;
    }

    .step-card-wrapper {
        height: 100%;
        overflow: auto;
    }
}

.step-card {
    width: 80%;
    height: 80%;
}

.step-count {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

.step-text {
    font-size: 2.5vw;
    font-family: 'font-thin';
}

@media (max-width: 425px) {
    .step-text {
        font-size: 8vw;
        font-family: 'font-thin';
    }
}

.step-img {
    height: 50%;
    width: 100%;
}

.step-img.one {
    background-image: url('../test.png');
    background-size: 210%;
    background-position: 60% 10%;
}

.step-img.two {
    background-image: url('../img.jpg');
    background-size: cover;
    background-position: center center;
}

.step-img.three {
    background-image: url('../three.jpg');
    background-size: cover;
    background-position: center center;
}

.step-title-wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

.step-title {
    width: 100%;
}

.step-title-wrapper.two {
    height: 20%;
}

@media (max-width: 425px) {
    .step-title-wrapper.two {
        height: 25%;
    }
}

.step-title-text {
    font-size: 2vw;
    font-family: 'font-bold';
}

@media (max-width: 425px) {
    .step-title-text {
        font-size: 8vw;
        font-family: 'font-bold';
    }
}

.step-description-wrapper {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.step-description-wrapper.two {
    height: 15%;
}

@media (max-width: 425px) {
    .step-description-wrapper.two {
        height: 15%;
    }
}

.step-description {
    width: 100%;
}

.step-description-text {
    font-size: 2vw;
    font-family: 'font-thin';
}

@media (max-width: 425px) {
    .step-description-text {
        font-size: 7vw;
        font-family: 'font-thin';
    }
}

@media (max-width: 425px) {
    .content-wrapper.cards {
        width: 90%;
    }
}

.team-title {
    width: 100%;
    height: 20%;
    font-family: 'font-bold';
    font-size: 5vw;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

@media (max-width: 425px) {
    .team-title {
        width: 100%;
        height: 20%;
        font-family: 'font-bold';
        font-size: 12vw;
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
}

.team-cards {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 425px) {
    .team-cards {
        width: 100%;
        height: 80%;
        display: block;
        margin-top: 10%;
        margin-left: 5%;
    }
}

.cards-pair {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 425px) {
    .cards-pair {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        margin-top: -10%;
        margin-left: -5%;
    }
}

.card-wrapper {
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 425px) {
    .card-wrapper {
        height: 90%;
        padding-left: 6%;
    }
}

.card {
    width: 80%;
    height: 100%;
    margin-right: 20%;
}

.card-img {
    width: 100%;
    aspect-ratio: 1/1;
}

.card-img.krem {
    background-image: url('../krem.jpg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-img.serene {
    background-image: url('../serene.jpg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-img.jasmine {
    background-image: url('../jasmine.jpg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-img.romain {
    background-image: url('../romain.jpeg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-name {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.card-job.two {
    height: 8%;
}


.card-name-text {
    font-size: 2vw;
    font-family: 'font-bold';
}

@media (max-width: 425px) {
    .card-name-text {
        font-size: 5vw;
    }
}

.card-job {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.card-job-text {
    font-size: 1.5vw;
    font-family: 'font-thin';
}

@media (max-width: 425px) {
    .card-job-text {
        font-size: 4vw;
    }
}

.card-degree {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.card-degree-text {
    font-size: 1.2vw;
    font-family: 'font-bold';
}

@media (max-width: 425px) {
    .card-degree-text {
        font-size: 3vw;
    }
}

.left-content.submit {
    height: 60%;
    display: block;
}

.title-submit-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}


.description-submit-wrapper {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.email-submit {
    width: 100%;
    height: 20%;
}

.button-submit {
    width: 100%;
    height: 20%;
}

.title-thin.submit {
    font-size: 4vw;
}

@media (max-width: 425px) {
    .title-thin.submit {
        font-size: 10vw;
    }
}

.title-bold.submit {
    font-size: 4vw;
}

@media (max-width: 425px) {
    .title-bold.submit {
        font-size: 10vw;
    }
}

.title-thin.description {
    font-size: 2vw;
}

@media (max-width: 425px) {
    .title-thin.description {
        font-size: 6vw;
    }
}

/* .email {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.text-box {
    height: 100%;
    width: 80%;
}

.text-box.small {
    display: flex;
    align-items: center;
}

.text-box.email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-top: 15%;
}


.text-box.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

button {
    width: 100%;
    height: 100%;
}

.small-gap {
    height: 3%;
    width: 100%;
}

.text-box.email form {
    height: 100%;
    width: 100%;
}

.email.submitted {
    height: 60%;
}

.text-box.email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-top: 15%;
}

.text-box.email form {
    height: 100%;
    width: 100%;
}

#email-input {
    width: calc(100% - 2px);
    height: 6vh;
    color: black;
    font-family: 'font-rg';
    font-size: 1.5vw;
    opacity: 1;
    padding: 0;
    border-radius: 0;
    border-width: 1px;
    margin-top: 1%;
}

@media (max-width: 425px) {
    #email-input {
        font-size: 4.5vw;
    }
}

.email {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 425px) {
    .email {
        justify-content: center;
    }
}


.text-box.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

#submit-button {
    width: 100%;
    height: 7vh;
    background-color: black;
    font-family: 'font-bold';
    color: white;
    font-size: 1.5vw;
    padding: 0;
    /* border-radius: 3px; */
    border: 0;
    margin-top: 5%;
}

@media (max-width: 425px) {
    #submit-button {
        font-size: 4.5vw;
    }
}

.submit {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 425px) {
    .left-wrapper.end {
        order: 2;
        height: 40%;
        margin-top: -30%;
    }
}

@media (max-width: 425px) {
    .right-wrapper.end {
        order: 1;
        height: 50%;
    }
}

@media (max-width: 425px) {
    .left-content.submit {
        height: 100%;
        width: 90%;
    }
}

@media (max-width: 425px) {
    .text-box.email {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .content.final {
        height: 90%;
    }
}


.thank-you {
    font-family: 'font-bold';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.button-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-one button {
    font-size: 2.5vh;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    border: none;
    font-family: "font-thin";
    background-color: transparent;
    color: black;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); */
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 425px) {
    .button-one button {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.button-one button:hover {
    transform: scale(1.05);
}

.button-one button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    animation: shiny 3s linear infinite;
}

/* Add these styles for the pop-up */
.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.popup-content {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Add this media query to show the pop-up on page load */
@media screen and (max-width: 425px) {
    .popup-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.popup-section {
    width: 100%;
    height: 70vh;
    margin-bottom: 5vh;
}

.image-wrapper-popup {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-popup {
    height: 100%;
    width: 80%;
    background-image: url('../img.jpg');
    background-size: cover;
    background-position: center center;
}

.bold-popup {
    font-family: 'font-bold';
    font-size: 2vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.3vw;
}

@media screen and (max-width: 425px) {
    .bold-popup {
        font-family: 'font-bold';
        font-size: 7vw;
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0.3vw;
    }
}

.perso-popup {
    margin-top: 2%;
    font-size: 2vw;
}

@media screen and (max-width: 425px) {
    .perso-popup {
        margin-top: 2%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 425px) {
    .thin-popup {
        font-family: 'font-rg';
        font-size: 7vw;
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.thin-popup {
    font-family: 'font-rg';
    font-size: 2vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;

}

.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 85%;
    max-width: 400px;
}

.popup-section {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 425px) {
    .left-content.pp {
        margin-top: 25%;
    }
}

@media screen and (max-width: 425px) {
    .title-submit-wrapper.pp {
        height: 40%;
    }
}

@media (min-width: 426px) {
    #myPopup {
        display: none !important;
    }
}