@font-face {
    font-family: "font-rg";
    src: url("../font/OpenSauceOne-Regular.ttf");
}

@font-face {
    font-family: "font-bold";
    src: url("../font/OpenSauceOne-SemiBold.ttf");
}

@font-face {
    font-family: "font-bbold";
    src: url("../font/OpenSauceOne-ExtraBold.ttf");
}

@font-face {
    font-family: "font-thin";
    src: url("../font/OpenSauceOne-Light.ttf");
}



.header-wrapper {
    height: 10%;
    width: 100;
}


/* .first-image {
    height: 40%;
    width: 100%;
    background-image: url('../img.jpg');
    background-size: cover;
    background-position: center center;
} */

.first-image-wrapper {
    height: 55%;
    width: 100%;
    background-image: url('../img.jpg');
    background-size: 185%;
    background-position: 80% 85%;
}

.first-wrapper {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-text-wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.gap-first {
    height: 4%;
    width: 100%;
}

.first-text {
    height: 100%;
    width: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bold-one {
    font-family: 'font-bold';
    font-size: 15vw;
    height: 25%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.3vw;
    flex-grow: 1;

}

.thin-one {
    font-family: 'font-thin';
    font-size: 15vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.bold-two {
    font-family: 'font-bold';
    font-size: 12vw;
    height: 25%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.3vw;
    flex-grow: 1;

}

.thin-two {
    font-family: 'font-thin';
    font-size: 12vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.thin-two-sub {
    font-family: 'font-thin';
    font-size: 6vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.first-plus-wrapper {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
}

.first-plus {
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.plus-large {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'font-bold';
    font-size: 22vw;
    right: 9vw;
    bottom: 1vw;
    position: relative;
    color: #2196F3;
}

.first-bottom-wrapper {
    height: 6%;
    width: 100%;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100vw;
}

.gap {
    height: 4%;
    width: 100%;
}

.email.submitted {
    height: 60%;
}

.image {
    height: 45%;
    width: 100%;
    background-image: url('../img.jpg');
    background-size: cover;
    background-position: center center;
}

.big-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.text-box {
    height: 100%;
    width: 80%;
}

.text-box.small {
    display: flex;
    align-items: center;
}

.text-box.email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-top: 5%;
}

.text-box.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

button {
    width: 100%;
    height: 100%;
}

.small-gap {
    height: 3%;
    width: 100%;
}

.text-box.email form {
    height: 100%;
    width: 100%;
}

#email-input {
    width: calc(100% - 2px);
    height: 6vh;
    color: black;
    font-family: 'font-rg';
    font-size: 4.5vw;
    opacity: 1;
    padding: 0;
    border-radius: 0;
    border-width: 1px;
    margin-top: 1%;
}

#submit-button {
    width: 100%;
    height: 7vh;
    background-color: black;
    font-family: 'font-bold';
    color: white;
    font-size: 4.5vw;
    padding: 0;
    /* border-radius: 3px; */
    border: 0;
    margin-top: 5%;
}

.small-text {
    height: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font-rg';
    margin-bottom: 4%;
}

.email {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-family: 'font-bold';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.3vw;
}

.perso {
    margin-top: 2%;
    font-size: 4vw;
}

.step-text {
    margin-top: 2%;
    font-size: 8vw;
    font-family: 'font-thin';
}

.thin {
    font-family: 'font-rg';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;

}

.thank-you {
    font-family: 'font-bold';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    /* set the background color with some opacity */
    padding: 10px 0px;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    /* apply a blur filter to the background */
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 1.5vw;
}

.button-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-one button {
    font-size: 2.5vh;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    border: none;
    font-family: "font-thin";
    background-color: transparent;
    color: black;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); */
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
}


.button-one button:hover {
    transform: scale(1.05);
}

.button-one button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    animation: shiny 3s linear infinite;
}

@keyframes shiny {
    0% {
        transform: rotate(45deg) translate(-50%, -50%);
    }

    100% {
        transform: rotate(45deg) translate(150%, 150%);
    }
}




.section-two {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.section-wrapper {
    height: 100%;
    width: 80%;
}

.section-wrapper.two {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.title {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-two {
}

@media screen and (min-width: 426px) {
    .title.two h1::before {
        content: 'How it works';
    }
}

@media screen and (max-width: 425px) {
    .title.two h1::before {
        font-family: "MyFont", sans-serif;
        content: 'How it works';
        font-size: 9vw;
    }
}

.line-wrapper {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
}

.line {
    width: 20%;
    height: 100%;
    background-color: black;
}

@media screen and (max-width: 426px) {
    .line {
        width: 30%;
    }
}

.step {
    height: 10%;
    width: 100%;
}

.step-title-wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-title-wrapper-two {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-title {
    height: 100%;
    aspect-ratio: 2/1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide-title-wrapper {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-title {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.slide-subtitle-wrapper {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-subtitle {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 426px) {
    .step-title {
        width: auto;
    }
}

.step-title h1 {
    font-size: 1.8vw;
}

@media screen and (max-width: 426px) {
    .step-title h1 {
        font-size: 7vw;
    }
}

.step-text-wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 426px) {
    .step-text {
        height: 70%;
        width: 100%;
    }
}

.step-text {
    height: 100%;
    aspect-ratio: 7/3;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 426px) {
    .step-text p {
        font-size: 3.5vw;
    }
}

.slides>div {
    flex: 0 0 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .slider {
        width: 200%;
    }
}

.gap-two {
    height: 10%;
    width: 100%;
    background-color: white;
}

.slides {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.5s;
    align-items: center;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 5;
}

.slide {
    height: 100%;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}

.step {
    height: 10%;
    width: 100%;
}

.image-slide-one {
    width: 100%;
    height: 50%;
    background-image: url('../test.png');
    background-size: 210%;
    background-position: 60% 10%;
}

.image-slide-two {
    width: 100%;
    height: 50%;
    background-image: url('../img.jpg');
    background-size: cover;
    background-position: center center;
}

.image-slide-three {
    width: 100%;
    height: 50%;
    background-image: url('../three.jpg');
    background-size: cover;
    background-position: center center;
}

.title-two {
    width: 100%;
    height: 40%;
}

/* .info-two {
    width: 100%;
    height: 
} */


.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: absolute;
    right: 95%;
}

.dots-wrapper {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
}

@media screen and (max-width: 426px) {
    .dots-wrapper {
        bottom: 5%;
    }
}

.dots {
    width: 10%;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 426px) {
    .dots {
        width: 30%;
    }
}

.dot-wrapper {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-wrapper-two {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
}

.active {
    background-color: black;
}

.button-arrow {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .button-arrow {
        display: none;
    }
}

.button-arrow button {
    width: 100%;
}

.button-arrow h1 {
    font-size: 2vw;
}

@media screen and (min-width: 426px) {
    .title.three h1::before {
        content: 'Our products';
    }
}

@media screen and (max-width: 425px) {
    .title.three h1::before {
        font-family: "MyFont", sans-serif;
        content: 'Our products';
        font-size: 9vw;
    }
}

.core-three-wrapper {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-three-wrapper {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-three {
    height: 90%;
    width: 85%;
}

.core-three {
    height: 100%;
    width: 90%;
}

.row {
    height: 50%;
    width: 100%;
    display: flex;
}

.card {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.card-pic-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pic-one {
    width: 90%;
    height: 90%;
    background-image: url('../krem.jpg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-pic-two {
    width: 90%;
    height: 90%;
    background-image: url('../serene.jpg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-pic-three {
    width: 90%;
    height: 90%;
    background-image: url('../jasmine.jpg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-pic-four {
    width: 90%;
    height: 90%;
    background-image: url('../romain.jpeg');
    background-size: cover;
    background-position: 80% 85%;
}

.card-text-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    width: 90%;
    height: 90%;
}

.bold-three {
    font-family: 'font-bold';
    font-size: 5vw;
    height: 25%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.3vw;
    flex-grow: 1;

}

.thin-three {
    font-family: 'font-thin';
    font-size: 5vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.three-sub {
    font-family: 'font-bold';
    font-size: 3vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}