@font-face {
    font-family: "font-rg";
    src: url("../font/OpenSauceOne-Regular.ttf");
}

@font-face {
    font-family: "font-bold";
    src: url("../font/OpenSauceOne-SemiBold.ttf");
}

body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100vw;
}

.gap {
    height: 4%;
    width: 100%;
}

.email.submitted {
    height: 60%;
}

.image {
    height: 40%;
    width: 100%;
    background-image: url('../img.jpg');
    background-size: cover;
    background-position: center center;
}

.big-text {
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    height: 100%;
    width: 80%;
}

.text-box.small {
    display: flex;
    align-items: center;
}

.text-box.email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.text-box.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

button {
    width: 100%;
    height: 100%;
}

.small-gap {
    height: 2%;
    width: 100%;
}

.text-box.email form {
    height: 100%;
    width: 100%;
}

#email-input {
    width: calc(100% - 2px);
    height: 6vh;
    color: black;
    font-family: 'font-rg';
    font-size: 4.5vw;
    opacity: 1;
    padding: 0;
    border-radius: 0;
    border-width: 1px;
    margin-top: 1%;
}

#submit-button {
    width: 100%;
    height: 7vh;
    background-color: black;
    font-family: 'font-bold';
    color: white;
    font-size: 4.5vw;
    padding: 0;
    /* border-radius: 3px; */
    border: 0;
    margin-top: 5%;
}

.small-text {
    height: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font-rg';
}

.email {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-family: 'font-bold';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;
}

.thin {
    font-family: 'font-rg';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;

}

.thank-you {
    font-family: 'font-bold';
    font-size: 10vw;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;
}
